ion-title{
    color: #fff;
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-left: -35px;
}

ion-label h3, h2, ion-textarea{
    color: #242020;
    font-size: 16px;
    font-weight: 50;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family: 'Barlow', sans-serif; 
}
