<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<ion-list>
  <ion-toolbar class="ion-toolbar">
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="assets/icon/logo.png"/>
      </ion-avatar>
      <ion-label>
        <h3>{{ name }}</h3>
      </ion-label>
      
    </ion-item>
  </ion-toolbar>

  <ion-card-content class="ion-text-left">
    <ion-item lines="none">
      <ion-label>
        <!-- <h2>Qty:</h2> -->
        <ion-label>
          <h3>Price: {{ price }}</h3>
        </ion-label>
        <h2>Qty:</h2>
        <div class="input-number-wrapper">
            <button class="decrease" (click)="minus()">-</button>
            <input type="text" style="width: 20%;" value="{{qty}}"/>
            <button class="increase" (click)="add()">+</button>
        </div>
      </ion-label>
    </ion-item>
    <!-- <ion-button color="success" (click)="place()">Success</ion-button> -->
      <div class="container-form-btn">
        <button type="submit" class="form-btn custom-font" (click)="place()">Submit</button>
      </div>   
  </ion-card-content>
</ion-list>