ion-button{
    --border-radius: 30px;
    width: 180px;
    height: 45px;
    font-size: x-large;
    
}

ion-item{
    width: 80%;
    margin: auto;
}

// ion-content{
//     top: 15%;
// }

ion-card{
    height:auto;
    padding: 20px;
    border-radius: 30px;
    top: 7%;
}