<ion-header translucent>
  <ion-toolbar color="danger">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Food Menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen color = "successs">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div (click)="getDish('Appetizer')">
          <img src="../../assets/icon/appetizer.png">
        </div>
      </ion-col>
      <ion-col>
        <div (click)="getDish('Main Course')"> 
          <img src="../../assets/icon/main course.png">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div (click)="getDish('Side Dish')"> 
          <img src="../../assets/icon/side dish.png">
        </div>
      </ion-col>
      <ion-col>
        <div (click)="getDish('Beverage')"> 
          <img src="../../assets/icon/beverage.png">
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div (click)="getDish('Dessert')"> 
          <img src="../../assets/icon/dessert.png">
        </div>
      </ion-col>
      <ion-col>
        <div (click)="getDish('Combo Deal')"> 
          <img src="../../assets/icon/combo deal.png">
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
