<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons style="margin: auto" color="dark" type="button" click="btnClicked" routerLink="">
      <ion-back-button defaultHref='' icon="arrow-back-circle"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <br/><br/>
    <form>
      <ion-card-header>
        <ion-card-subtitle>Food Trip</ion-card-subtitle>
        <ion-card-title>Please Sign-up</ion-card-title>
      </ion-card-header>

       <ion-item lines="none">
         <ion-text color="dark">Are you a:</ion-text>
        </ion-item>

      <ion-item lines="none">
        <ion-button style="margin: auto" color="success"><ion-icon color="dark" name="bicycle"></ion-icon></ion-button>
        <ion-text style="margin: auto" color="dark">OR</ion-text>
        <ion-button style="margin: auto" color="success" type="button" click="btnClicked" routerLink="/custsignup"><ion-icon color="dark" name="person"></ion-icon></ion-button>
      </ion-item>

      <ion-item lines="none">
        <ion-text style="margin-right: 73px" color="dark">Delivery man</ion-text>
        <ion-text style="margin-right: 38px" color="dark">Customer</ion-text>
      </ion-item>
      
    </form>
  </ion-card>
</ion-content> -->
