ion-content{
    top: 20%;
}

ion-item{
    width: 90%;
    margin: auto;
}
ion-text{
    text-align:center; 
    margin: auto;
    font-size: large;
}

ion-button{
    --border-radius: 15px;
    width: 150px;
    height: 150px;
    font-size: x-large;
}

ion-card{
    height: 55%;
}
ion-icon{
    font-size: 350%;
}
