ion-button{
    font-size: 18px;
    margin-left: -19px;
    font-family: 'Barlow', sans-serif;
    // text-decoration: none;
    // text-align: left;
}
.my-modal {
    height: 25%!important;
    width: 25%!important;
} 

ion-item{
    font-family:'Barlow', sans-serif;
    font-size: 18px;
    margin-left: auto;
}